<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form role="form" #loginform="ngForm" (ngSubmit)="loginform.form.valid && login()">
      <div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" #email="ngModel" required
            name="email"></ion-input>
        </ion-item>
        <div *ngIf="email.invalid && (email.touched)">
          <p class="input-info error-message" *ngIf="email.errors.required">Email is
            required
          </p>
          <p class="input-info error-message" *ngIf="email.errors.pattern">Enter valid email
          </p>
        </div>
      </div>
      <div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password" [(ngModel)]="user.password" minlength="6" #password="ngModel" required
            name="password">
          </ion-input>
        </ion-item>
        <div *ngIf="password.invalid && (password.touched)">
          <p class="input-info error-message" *ngIf="password.errors.required">Password is
            required
          </p>
          <p class="input-info error-message" *ngIf="password.errors.minlength">Password must be
            atleast 6 characters.
          </p>
        </div>
      </div>

      <div class="login-btn">
        <ion-button color="primary" type="submit">Login</ion-button>
      </div>
    </form>
    <p class="no-account" [routerLink]="['/signup']">You don't have account? <span>Signup</span></p>
  </div>
</ion-content>